<!DOCTYPE html>
<html>
    <head>
        <title>
            signup
        </title>
        <link rel="stylesheet" type="text/css" href="./democss.css">
    </head>

    <body>
        <h2>SIGN UP FORM </h2>

        <form action="/url/signup/store" method="GET">
            <label for="username"> USER NAME :</label>
            <input type="text" name="username">
            <label for="pssword">PASSWORD :</label>
            <input type="password" name="password">
            <label for="email">email :</label>
            <input type="email" name="email">
            <input type="submit">
        </form>

    </body>
</html>